@import "tailwindcss";
@plugin "daisyui";

@layer components {
  .btn-primary {
    @apply btn btn-outline btn-accent bg-emerald-700 text-white font-bold border-none relative mx-4 py-2 px-8 text-base overflow-hidden transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-blue-500 before:to-blue-600 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] rounded-[15px] hover:before:left-0 cursor-pointer;
  }

  .btn-secondary {
    @apply btn btn-outline text-white font-bold border-none relative mx-4 py-2 px-5 text-base overflow-hidden transition-all duration-400 ease-in-out hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-blue-500 before:to-blue-600 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] rounded-xl hover:before:left-0 cursor-pointer;
  }

  .bg-background1 {
    background-image: url('./assets/background1.png');
    background-size: cover;
    background-position: center;
  }
  .bg-background2 {
    background-image: url('./assets/background2.png');
    background-size: cover;
    background-position: center;
  }
  .bg-background3 {
    background-image: url('./assets/background1.png');
    background-size: cover;
    background-position: center;
  }
}